.box{
    background-color: blue;
    border: 3px solid green;
    margin: 15px 30px 45px 60px;
    padding: 15px 30px 45px 60px;
    display: inline-block;
}

.box h1{
    color: white
}

.first{
    display: none; 
    height: 300px;
    width: 50%
}

.last:hover{
    background-color: red;
}